<?xml version="1.0" ?>
<model>
  <name>Aruco_22</name>
  <version>0.1</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Joseph Loic Bisso-Bi-Ela</name>
    <email>joseph-loic.bisso-bi-ela@etu.univ-smb.fr</email>
  </author>
  <description>aruco 22 tag for localization </description>
</model>