<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ros_robot_2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.25318904837706E-07 0.0209832157903133 0.151073041633521"
        rpy="0 0 0" />
      <mass
        value="3.1643396567672" />
      <inertia
        ixx="0.0173040310599937"
        ixy="3.0205539204369E-09"
        ixz="-2.0781080043983E-06"
        iyy="0.0215884204445769"
        iyz="-5.01216958424512E-05"
        izz="0.00518640274073691" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel_link_1">
    <inertial>
      <origin
        xyz="-0.000936230026474218 0.000294296502742625 -0.0253134741975138"
        rpy="0 0 0" />
      <mass
        value="0.13046603137643" />
      <inertia
        ixx="1.72381443906723E-05"
        ixy="-4.9650198196541E-08"
        ixz="5.35955440295037E-08"
        iyy="1.70607059327431E-05"
        iyz="1.97543201719879E-07"
        izz="2.48965358964134E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/wheel_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/wheel_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_1"
    type="continuous">
    <origin
      xyz="0.0765 -0.0505 -0.0032237"
      rpy="1.5708 -1.179 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="wheel_link_2">
    <inertial>
      <origin
        xyz="0.000978275320681475 6.9331225933944E-06 -0.0253134741975718"
        rpy="0 0 0" />
      <mass
        value="0.130466031376811" />
      <inertia
        ixx="1.72510482080003E-05"
        ixy="1.22246556193541E-08"
        ixz="1.03520957269386E-08"
        iyy="1.70478021153759E-05"
        iyz="-2.04321008230363E-07"
        izz="2.48965358963976E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/wheel_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/wheel_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_2"
    type="continuous">
    <origin
      xyz="-0.0765 -0.0505 -0.0032237"
      rpy="1.5708 1.179 1.5708" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="wheel_link_3">
    <inertial>
      <origin
        xyz="-0.000295654501900083 0.000936778270720307 0.0253134741975858"
        rpy="0 0 0" />
      <mass
        value="0.130466031376937" />
      <inertia
        ixx="1.70598259800944E-05"
        ixy="-5.07657718220794E-08"
        ixz="1.97503811032205E-07"
        iyy="1.72390243433849E-05"
        iyz="5.35815834164502E-08"
        izz="2.48965358964572E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/wheel_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/wheel_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_3"
    type="continuous">
    <origin
      xyz="-0.0765 -0.25731 -0.0032237"
      rpy="1.5708 -1.179 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_3" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="wheel_joint_4">
    <inertial>
      <origin
        xyz="-0.000965094199165892 -0.000180750455276019 0.0253134741977022"
        rpy="0 0 0" />
      <mass
        value="0.130466031377889" />
      <inertia
        ixx="1.72479895060605E-05"
        ixy="2.73260640463473E-08"
        ixz="-2.96030397577384E-08"
        iyy="1.70508608173643E-05"
        iyz="2.02518236068032E-07"
        izz="2.48965358964373E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/wheel_joint_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/wheel_joint_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_4"
    type="continuous">
    <origin
      xyz="0.0765 -0.25731 -0.0032237"
      rpy="1.5708 1.179 1.5708" />
    <parent
      link="base_link" />
    <child
      link="wheel_joint_4" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.00104293857582603 -0.0200716463587287 -0.000239310286706415"
        rpy="0 0 0" />
      <mass
        value="0.0640213480099212" />
      <inertia
        ixx="1.11205843724421E-05"
        ixy="8.93858025502958E-12"
        ixz="1.19749060974085E-07"
        iyy="2.38964450859327E-05"
        iyz="-1.14935925400159E-07"
        izz="1.53181232503505E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 -0.081313 0.08128"
      rpy="-1.5708 0 -2.1036" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.000603587791177987 -0.0502714257298916 -6.36990460378684E-15"
        rpy="0 0 0" />
      <mass
        value="0.199590808492652" />
      <inertia
        ixx="4.87812351502123E-05"
        ixy="2.50615873268866E-19"
        ixz="5.25160427297666E-20"
        iyy="9.20340569081315E-05"
        iyz="3.22931311140702E-19"
        izz="0.000118780715251585" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 -0.024358 0.009871"
      rpy="3.093 0 3.1416" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.000682520892340457 6.90253409985075E-13 -0.0438713507571973"
        rpy="0 0 0" />
      <mass
        value="0.115150609607431" />
      <inertia
        ixx="1.56665740095379E-05"
        ixy="-1.03226859725587E-16"
        ixz="1.57255605360966E-15"
        iyy="1.81098652777097E-05"
        iyz="8.71659766465996E-15"
        izz="1.08269781614601E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 -0.10532 0"
      rpy="-3.1187 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.00060358779096388 0.00781692910512485 0.0420092089396763"
        rpy="0 0 0" />
      <mass
        value="0.116653302213278" />
      <inertia
        ixx="6.54778418280239E-05"
        ixy="-1.62825651670463E-15"
        ixz="-3.6346183766682E-17"
        iyy="8.26288387045572E-05"
        iyz="-1.07953546735893E-05"
        izz="5.5153321529907E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_2/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 0 -0.087743"
      rpy="-2.6186 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>