<?xml version="1.0" ?>
<model>
  <name>Black Crate</name>
  <version>0.1</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Joseph Loic Bisso-Bi-Ela</name>
    <email>joseph-loic.bisso-bi-ela@etu.univ-smb.fr</email>
  </author>
  <description>A simple black crate model based on the Eurobot 2026 official dimensions and colors</description>
</model>