<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ros_robot_v3">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.2532E-07 0.020983 0.15107"
        rpy="0 0 0" />
      <mass
        value="3.1643" />
      <inertia
        ixx="0.017304"
        ixy="3.0206E-09"
        ixz="-2.0781E-06"
        iyy="0.021588"
        iyz="-5.0122E-05"
        izz="0.0051864" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.0010431 -0.020072 -0.00023899"
        rpy="0 0 0" />
      <mass
        value="0.064021" />
      <inertia
        ixx="1.1121E-05"
        ixy="8.9387E-12"
        ixz="1.1975E-07"
        iyy="2.3896E-05"
        iyz="-1.1494E-07"
        izz="1.5318E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="continuous">
    <origin
      xyz="0 -0.081313 0.08128"
      rpy="-1.5708 0 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.00060377 -0.057555 -7.3691E-15"
        rpy="0 0 0" />
      <mass
        value="0.22008" />
      <inertia
        ixx="7.7099E-05"
        ixy="-1.151E-19"
        ixz="-3.1103E-19"
        iyy="0.00010308"
        iyz="2.4455E-20"
        izz="0.000156" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="continuous">
    <origin
      xyz="0 -0.024358 0.0098714"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.0006827 -2.7756E-17 -0.043871"
        rpy="0 0 0" />
      <mass
        value="0.11515" />
      <inertia
        ixx="1.5667E-05"
        ixy="1.8673E-21"
        ixz="-2.629E-20"
        iyy="1.811E-05"
        iyz="9.0283E-15"
        izz="1.0827E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="continuous">
    <origin
      xyz="0 -0.13432 0"
      rpy="3.1416 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.00060377 0.0078845 0.041772"
        rpy="0 0 0" />
      <mass
        value="0.11556" />
      <inertia
        ixx="6.5441E-05"
        ixy="-2.5298E-20"
        ixz="9.7754E-20"
        iyy="8.2592E-05"
        iyz="-1.0795E-05"
        izz="5.5082E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="continuous">
    <origin
      xyz="0 0 -0.087743"
      rpy="3.1416 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="pre_link_5">
    <inertial>
      <origin
        xyz="2.7756E-17 -0.0034554 0"
        rpy="0 0 0" />
      <mass
        value="0.0010902" />
      <inertia
        ixx="3.668E-08"
        ixy="1.2584E-22"
        ixz="-3.3087E-24"
        iyy="7.097E-08"
        iyz="-1.1695E-22"
        izz="3.668E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/pre_link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/pre_link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="continuous">
    <origin
      xyz="-0.00060377 0.00065019 0.063746"
      rpy="-1.5708 0 0.59278" />
    <parent
      link="link_4" />
    <child
      link="pre_link_5" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_link_1">
    <inertial>
      <origin
        xyz="-0.00093623 0.0002943 -0.025313"
        rpy="0 0 0" />
      <mass
        value="0.13047" />
      <inertia
        ixx="1.7238E-05"
        ixy="-4.965E-08"
        ixz="5.3596E-08"
        iyy="1.7061E-05"
        iyz="1.9754E-07"
        izz="2.4897E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/wheel_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/wheel_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_1"
    type="continuous">
    <origin
      xyz="0.0765 -0.0505 -0.0032237"
      rpy="1.5708 -1.179 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="wheel_link_2">
    <inertial>
      <origin
        xyz="0.00097828 6.9331E-06 -0.025313"
        rpy="0 0 0" />
      <mass
        value="0.13047" />
      <inertia
        ixx="1.7251E-05"
        ixy="1.2225E-08"
        ixz="1.0352E-08"
        iyy="1.7048E-05"
        iyz="-2.0432E-07"
        izz="2.4897E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/wheel_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/wheel_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_2"
    type="continuous">
    <origin
      xyz="-0.0765 -0.0505 -0.0032237"
      rpy="1.5708 1.179 1.5708" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="wheel_link_3">
    <inertial>
      <origin
        xyz="-0.00029565 0.00093678 0.025313"
        rpy="0 0 0" />
      <mass
        value="0.13047" />
      <inertia
        ixx="1.706E-05"
        ixy="-5.0766E-08"
        ixz="1.975E-07"
        iyy="1.7239E-05"
        iyz="5.3582E-08"
        izz="2.4897E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/wheel_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/wheel_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_3"
    type="continuous">
    <origin
      xyz="-0.0765 -0.25731 -0.0032237"
      rpy="1.5708 -1.179 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_3" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="wheel_link_4">
    <inertial>
      <origin
        xyz="-1.2532E-07 0.020983 0.15107"
        rpy="0 0 0" />
      <mass
        value="0.13047" />
      <inertia
        ixx="0.017304"
        ixy="3.0206E-09"
        ixz="-2.0781E-06"
        iyy="0.021588"
        iyz="-5.0122E-05"
        izz="0.0051864" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/wheel_link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_robot_v3/meshes/wheel_link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_4"
    type="continuous">
    <origin
      xyz="0.0765 -0.25731 -0.0032237"
      rpy="1.5708 1.179 1.5708" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_4" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>